@import '../../styles/utils';

.card {
  border: 1px solid var(--blue-bg-color);
  max-width: 412px;

  &__img {
    margin-bottom: 24px;
  }

  &__info {
    padding: 0 32px;
  }
}

.info {
  @include flexCenter;
  height: 420px;
  flex-direction: column;
  justify-content: space-between;

  &__text {
    @include flexCenter;

    flex-direction: column;
    gap: 16px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: var(--black-text-color);
  }

  &__desc {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: var(--gray-text-color);

    overflow: hidden;

    cursor: pointer;

    &.truncated {
      max-height: 260px;
      overflow: hidden;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    margin-bottom: 24px;

    &__buy {
      @include blueButtonStyles;
      @include buttonHover;
      width: 278px;
    }

    &__favorite {
      @include buttonFavStyles;

      border: none;
      cursor: pointer;

      &.selected {
        background-color: #dd377d;

        &-icon {
          fill: var(--white-color);
        }

        &:hover {
          background-color: var(--gray-bg-color);
          &-icon {
            fill: var(--black-text-color);
          }
        }
      }

      &:hover {
        background-color: #dd377d;

        &__icon {
          fill: var(--white-color);
        }
      }
    }
  }
}
