@import '../../../styles/utils';

.header-btn {
  display: flex;
  gap: 12px;
  align-items: center;

  &__favorite-btn {
    @include buttonFavStyles;
    @include defaultHover;

    &.is-active {
      background-color: var(--pink-active-color);

      .header-btn__favorite-icon {
        fill: var(--white-color);
      }
    }
  }

  &__favorite-icon {
    width: 100%;
  }

  &__sign-btn {
    @include blueButtonStyles;

    @include buttonHover;
  }
}
