@import '../../../styles/utils';

.nav {
  &__ul {
    display: flex;
    gap: 32px;
  }

  &__link {
    color: var(--white-color);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-bottom: 4px;

    &:hover {
      color: var(--blue-bg-color);
      border-bottom: 2px solid var(--blue-bg-color);
    }

    &.is-active {
      border-bottom: 1px solid var(--white-color);
    }
  }
}
